body {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: cadetblue;
}

nav a.selected {
  text-decoration: underline;
  color: brown;
}
